*{
    padding: 0px;
    margin: 0px;
    color: azure;
}
#navbar{
    height: 50px;
    background-color: black;
}
button{
    background-color: orange;
}
#logo{
    color: orange;
    font-size: 25px;
}
a{
    margin-right: 170px;
    text-decoration: none;
}

