        /* using flex properties to create navbar */
.navbar{
    height: 35px;
    background-color: lavender;
    display: flex;
    justify-content: space-evenly;
    
}

a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(68, 68, 98);
}

li{
    list-style-type: none;
}
 
#logo img{
    height: 35px;
    width: 50px ;
}

#outer{
    height: 200px;
    width: 200px;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: rgb(10, 93, 93);
}

