div{
    height: 150px;
    width: 150px;
    background-color: crimson;
}

@media(width: 600px){
    div {
        background-color: cornsilk;
    }
}

@media( max-width: 600px){
    div {
        background-color: rgb(202, 12, 174);
    }
}

@media( min-width: 300px) and (max-width: 600px){
    div {
        background-color: rgb(75, 12, 194);
    }
}